/* css styles */
div.quarto-about-trestles .about-entity .about-link {
    border: 0px;
}

.quarto-title-banner {
    margin-bottom: 0em;
}

#title-block-header {
    margin-block-end: 1rem;
}

.quarto-title-banner a {
    color: #5e5e5e;
}

.navbar-logo {
    max-height: 26px;
    width: auto;
    padding-right: 4px;
    border-radius: 25px;
}

nav .nav-item {
    padding-top: 1px;
    padding: 0px 5px 0px 5px;
    font-weight: 550;
}

@media (min-width: 992px) {
    div.quarto-about-trestles .about-entity .about-link {
        font-size: 1em;
        padding: 0.25em 0.5em;
        border-radius: 4px;
    }
}

@media (max-width: 991.98px) {
    div.quarto-about-trestles .about-entity .about-link {
        font-size: 1.1em;
        padding: 0.25em 0.5em;
        text-align: center;
        border-radius: 6px;
    }

    div.quarto-about-trestles {
        padding-top: 1em !important;
    }
}